<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejemplo2</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="vue.js"></script>
</head>
<body id="app">

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		
		<template v-if="name">
			<h1>
				{{ welcome_message }}, {{ name }}
			</h1>
			<p>Espero que disfrutes tu visita</p>
			<p>tu nombre al revés es: {{ reverse_name }}</p>
		</template>
		<p v-else>Por favor escribe tu nombre:</p>

		<form @submit.prevent="signup(false, $event)">
			<label>Primer nombre:</label>
			<input type="text" v-model="first_name" class="form-control">
			<label>Apellido:</label>
			<input type="text" v-model="last_name" class="form-control">

			<p v-if="name == ''" class="alert alert-danger">Este campo es obligatorio</p>
			
			<label>
				Hombre: <input type="radio" v-model="gender" value="m">
			</label>
			<label>
				Mujer: <input type="radio" v-model="gender" value="f">
			</label>
			<label>
				¿Hablas español?
				<input type="checkbox" v-model="spanish">
			</label>
			
			<p>¿cuántos años de experiencia tienes con PHP?</p>
			<p>
				Respuesta: <strong>{{ years_php }}</strong>

				<button type="button" 
						:class="{btn: true, 'btn-danger': years_php > 10}"
						:style="getButtonStyles()"
						@click="years_php ++">+</button>

				<button type="button" :disabled="years_php == 0" class="btn" @click="discount">-</button>
				<span>Nivel:</span><strong>{{ level_experience }}</strong>
			</p>

			<hr>

			<p v-show="name">
				<button type="submit" class="btn btn-primary">
					Regístrate
				</button>
				<button type="submit" class="btn btn-primary" @click="signup(true, $event)">
					Regístrate y sal del sistema
				</button>
			</p>
		</form>

		<pre>{{ $data | json}}</pre>	
	</div>
</div>

<script type="text/javascript">
	new Vue({
		el: "#app",
		data: {
			first_name: "",
			last_name: "",
			gender: "",
			spanish: true,
			years_php: 0
		},
		computed:{
			welcome_message: function(){
				
				if (this.spanish) {
					return this.gender == 'm' ? 'Bienvenido' : 'Bienvenida';
				} 
				return 'welcome';
			},
			name: function(){
				if (this.first_name || this.last_name) {
					return this.first_name + ' ' + this.last_name;
				}
				return '';
			},
			reverse_name: function(){
		        if (this.first_name || this.last_name){
		        	var full_name = this.first_name +' '+ this.last_name;
		            return full_name.split('').reverse().join('');
		        }                 
		        return '';
            },
            level_experience: function(){
            	if (this.years_php == 0) {
            		return 'No sabes nada';
            	}else if(this.years_php <= 2){
            		return 'Principiante';
            	}else if(this.years_php <=5){
            		return 'Intermedio';
            	}
            	return 'Experto';
            }
		},
		methods: {
			signup: function(logout, event){
				event.preventDefault();
				alert(this.name + ', espere mientras registramos.');

				if (logout) {
					alert('Saliendo del sistema');
				}
			},
			discount: function(){
				if (this.years_php > 0) {
					this.years_php--;
				}
			},
			getButtonStyles: function(){
				return {'font-size': 10+this.years_php+'px'};
			}
		}
	});
</script>
</body>
</html>